* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Minecraft';
    src: url('fonts/Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Minecraft', 'Press Start 2P', sans-serif;
    background-color: #0f0f0f;
    color: rgba(255, 255, 255, 0.842);
    scroll-behavior: smooth;
}

/* ---------- NAVBAR ---------- */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 18px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(12px);
    background: rgba(0,0,0,0.55);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    z-index: 100;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    color: #ddd;
    text-decoration: none;
    font-size: 10px;
    transition: .3s;
}

.nav-link:hover{
    color: #482ff7;
}

a:hover {
    color: #4A78FF;
}

.nav-logo {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}
/* Scrolled state */
.navbar.scrolled {
    background: #ffffff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}   
/* ---------- HERO SECTION (#home) ---------- */
#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: 
        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url('assets/img/B1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#home h1 {
    font-size: 40px;
    font-weight: 900;
    margin: 15px 20px;
}

#home p {
    margin-top: 10px;
    color: #aaa;
    font-size: 15px;
}

.buttons {
    margin-top: 25px;
    font-size: 10px;
}

.btn {
    padding: 12px 22px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.15);
    text-decoration: none;
    color: white;
    margin-right: 10px;
    transition: .3s;
}

.btn:hover {
    border-color: #4A78FF;
    color: #4A78FF;
}

/* ---------- ABOUT SECTION ---------- */
h2{
   text-align: center;
   margin-top: 50px;
   font-size: 20px;
}
#about {
    margin-top: 100px;
    padding: 0 100px;
    margin-bottom: 100px;
    padding-bottom: 10%;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.about-text {
    flex: 1 1 300px;
    color: #b8b8b8;
    line-height: 1.7;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.about-image {
    flex: 1 1 250px;
    text-align: center;
}

.about-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 15px rgba(74,120,255,0.2);
}

/* ---------- PROJECTS SECTION ---------- */
#projects {
    margin-top: 100px;
    padding: 0 100px;
     padding-bottom: 20%;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.project-card {
    background: rgba(21,21,21,0.9);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.05);
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.project-card p {
    flex-grow: 1;
    color: #ccc;
    font-size: 15px;
    margin-bottom: 15px;
}

.project-card .btn {
    background-color: #0f0f0f;
    text-decoration: none;
    align-self: flex-start;
    padding: 10px 18px;
    font-size: 14px;
    cursor: pointer;
}
.project-image {
    display: none; /* hidden initially */
    margin-top: 15px;
    text-align: center;
}

.project-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(74,120,255,0.2);
    transition: transform 0.3s;
}

.project-image img:hover {
    transform: scale(1.05);
}
/* ---------- Email SECTION ---------- */
.contact-form {
    flex: 1 1 300px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 30%;
    padding-left: 30%;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(30,30,30,0.9);
    color: white;
    font-family: inherit;
    
    
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #aaa;
    font-size: 10px;
}

.contact-form button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #4A78FF;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    width: 100px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

.contact-form button:hover {
    color: #0f0f0f;
    background-color: #3460d0;
}

#formMessage {
    margin-top: 5px;
    color: #4A78FF;
}

/* ---------- CONTACT SECTION ---------- */
.contact-container2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: -100px;
    font-size: 10px;
    
}

.socials {
    flex: 1 1 200px;
    text-align: center;
}

.socials a {
    display: inline-block;
    margin: 10px;
    padding: 8px 15px;
    /*border: 1px solid rgba(255,255,255,0.15);*/
    border-radius: 8px;
    color: #ddd;
    text-decoration: none;
    transition: .3s;
}

.socials a:hover {
    color: #4A78FF;
    border-color: #4A78FF;
    box-shadow: 0 0 10px rgba(74,120,255,0.2);
}

/*SCROLLBAR*/
::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(53, 53, 53);
}
::-webkit-scrollbar-thumb:hover{
    background-color: #3460d0;
}
/* ---------- FOOTER ---------- */
footer {
    padding: 20px;
    text-align: center;
    color: #777;
    margin-top: 40px;
    font-size: 10px;
}

/***********************************************************************************************/

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        backdrop-filter: blur(12px);
        background: rgba(0,0,0,0.55);
        border-bottom: 1px solid rgba(255,255,255,0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar.scrolled {
  background: #e0dcdc; /* new color */
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

}

/* General responsive padding */
section {
    padding: 60px 20px;
}

/* About Section */
@media (max-width: 700px) {
   #home h1 {
        font-size: 5vw;
    }
    #home p {
        font-size: 2vw;
    }
    .buttons {
        font-size: 1.80vw;
    }
}
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    #about {
        padding: 0 20px;
    }
}

/* Projects Section */
@media (max-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
}

/* Contact Section */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        padding: 0 20px;
    }

    .contact-form form {
        margin: 0 auto;
        width: 100%;
    }

    .contact-form button {
        margin: 0 auto;
        width: 50%;
    }
}

/* Navbar on mobile */
@media (max-width: 768px) {
    nav {
        padding: 18px 20px;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background: rgba(0,0,0,0.95);
        flex-direction: column;
        width: 200px;
        text-align: center;
        padding: 15px;
        display: none;
        border-radius: 0 0 10px 10px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links a {
        margin: 10px 0;
        font-size: 14px;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .about-container, .contact-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        margin: 0 auto;
    }
        .about-text{
        text-align:center;
        max-height: 100%;
        font-size: 20px;
        display: flex;
        font-family: 'Open Sans', sans-serif;
        /*border: 1px solid red;*/
        
        padding: 0 50px;
    }
}
@media(max-width: 600px){
    .hamburger{
        margin-right: -15%; 
    }
    .nav-logo{
        margin-left: -15%;
    }
}

/* Responsive adjustments for smaller screens */
@media(max-width: 500px){
    *{
        padding: 0;
        margin: 0;
    }
/*About
    .about-container{
        border: 1px solid rgb(251, 255, 0);
        }*/
    .about-text{
        text-align:center;
        max-height: 100%;
        font-size: 15px;
        display: flex;
        font-family: 'Open Sans', sans-serif;
       /* border: 1px solid red;*/
        padding: 0 50px;
    }

/*PROJECT*/
    #projects h2{
        margin-bottom: -40px;
        font-size: 5vw;

    }
    .project-card h3{
        text-align: left;
        font-size: 4vw;  
    }
    .project-card p{
        font-size: 3.5vw;
    }
    #projects{/*FIRST CONTAINER*/
        max-width: 100%;
        width: 100%;

    }
    .projects-container{
        
        max-width: 100vw;
        display: inline;
        font-size: 15px;
    }
    .project-card{ /*SECOND CONTAINER*/
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: -60px;   
        width: 80vw;
        
    }
/*Email
    .contact-container{
        border: 1px solid blue;
    }*/
    .contact-form{
        width: 100%;
       /* border: red 1px solid;*/
    }
/*Footer
    .contact-container2{
        border: 1px solid pink;
        
    }*/
    .socials{
        display: inline-block;
    }
}
@media(max-width: 400px){
    .hamburger{
        margin-right: -35%;
    }
    .nav-logo{
        margin-left: -35%;
    }
        .about-text{
        text-align:center;
        max-height: 100%;
        font-size: 3.5vw;
        display: flex;
        font-family: 'Open Sans', sans-serif;
       /* border: 1px solid red;*/
        padding: 0 50px;
    }
    .project-card{
        margin-right: -500px;
    }
}